{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}

<h1>Page info du produit {{product.name}}</h1>

    Nom du produit : {{product.name}}<br>
    Prix : {{product.price}}<br>
    Produit en vente : {{product.isOnSale}}<br>
    Description : {{product.description}}<br>
    Quantité en stock : {{product.stock}}<br>
    Alerte stock : {{product.alert}}<br>
    Image produit : <img src="/uploads/products/pictures/{{product.picture}}" alt=""><br>

    
{% endblock %}