{% extends 'base.html.twig' %}

{% block title %}Profil de {{user.username}}{% endblock %}

{% block body %}
<h1>Informations de {{user.username}}</h1>

    Nom d'utilisateur : {{user.username}} <br>
    Email : {{user.email}} <br>
    Banni : {% if user.isBanned == true %} Oui {% else %} Non {% endif %}  <br>
    {% if user.isBanned == true %} <a href="{{path('app_ban_unban_user', {id: user.id})}}">Unban</a> {% else %} <a href="{{path('app_ban_unban_user', {id: user.id})}}">Bannir</a> {% endif %}  <br>
    <a href="">Commandes</a><br>
    <a href="">Adresses de livraison</a><br>
    <a href="">Avis produits</a><br>
{% endblock %}
